<%- include('partials/header') %>
<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6">
    <img src="https://media0.giphy.com/media/BeCeKlWZUqQ5eBaTub/giphy.gif?cid=ecf05e47fvdi7yrtld44toi2aaz26e9i5xbdbndezct6xq3k&rid=giphy.gif&ct=s" />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 text">
    <p>


      Muzick<br / />

      Fortune Favors The Bold
    </p>
  </div>
</div>
<h1 class="h1">Trending</h1>
<div id="slides" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media0.giphy.com/media/hu0f2AhuKGrb93mEX8/giphy.gif?cid=ecf05e478u3kh58f2y6yjt0gymugygjfmeej6t209apdut44&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media1.giphy.com/media/TF6ZSOZWtXVBOeMIc6/giphy.gif?cid=ecf05e47j3hrj2560do4i87dc3ryag5d332otyj9e2zqqdof&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media3.giphy.com/media/8FVikzVhKeCJmjr99d/giphy.gif?cid=ecf05e47pjs8pfi60kf9fhmq9hn1pepfvf34fog5kfhqerfr&rid=giphy.gif&ct=s" class="imgs " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="h1">Most Streamed</h1>
<div id="slides" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media0.giphy.com/media/hu0f2AhuKGrb93mEX8/giphy.gif?cid=ecf05e478u3kh58f2y6yjt0gymugygjfmeej6t209apdut44&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media1.giphy.com/media/TF6ZSOZWtXVBOeMIc6/giphy.gif?cid=ecf05e47j3hrj2560do4i87dc3ryag5d332otyj9e2zqqdof&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media3.giphy.com/media/8FVikzVhKeCJmjr99d/giphy.gif?cid=ecf05e47pjs8pfi60kf9fhmq9hn1pepfvf34fog5kfhqerfr&rid=giphy.gif&ct=s" class="imgs " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="h1">Notable Artists</h1>
<div id="slides" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media0.giphy.com/media/hu0f2AhuKGrb93mEX8/giphy.gif?cid=ecf05e478u3kh58f2y6yjt0gymugygjfmeej6t209apdut44&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media1.giphy.com/media/TF6ZSOZWtXVBOeMIc6/giphy.gif?cid=ecf05e47j3hrj2560do4i87dc3ryag5d332otyj9e2zqqdof&rid=giphy.gif&ct=s" class="imgs" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media3.giphy.com/media/8FVikzVhKeCJmjr99d/giphy.gif?cid=ecf05e47pjs8pfi60kf9fhmq9hn1pepfvf34fog5kfhqerfr&rid=giphy.gif&ct=s" class="imgs " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%- include('partials/footer') %>
